body {
  background-color: black;
  margin: 5px;
}

nav {
  display: flex;
  background-color: gray;

  justify-content: space-around;
}

nav a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  padding: 16px 24px;
}
nav a:hover {
  color: #fff;
}

h1 {
  display: flex;
  background-color: transparent;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  color: grey;
  font-size: 50px;
  padding-bottom: 30px;
}

#about-me {
  height: 640px;
  width: 1920px;
  background-image: url(./images/about-me-bruce.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
}

p {
  height: 40px;
  width: 400px;
  font-size: 20px;
  padding-top: 33px;
  padding-left: 70%;
}

h3 {
  font-size: 40px;
  padding: 20px;
}

.portfolio {
  flex: 4;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  padding-top: 3%;
}

.port-item {
  display: flex;
  font-size: 26px;
  padding: 10px;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.port-item h4 {
  padding: 20px;
  background: gray;
  color: #fff;
}

.port-item img {
  width: 500px;
  height: 337px;
}

.contact-class {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
  color: red;
}
span {
  color: rgb(50, 49, 49);
  font-size: x-large;
}
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: left;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

/* footer {
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #b9c6ae;
  background-color: gray;
} */
.footer {
  background-color: #586978;
  color: #b9c6ae;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-large;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
}
.img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
